//JAVASCRIPT FRAMEWORKS
//__JQuery from CDN
script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")

//JAVASCRIPT CUSTOM
//__Personal JS File for the actual implementation
script(type='text/javascript', src="/js/mixer.js")
script(type='text/javascript', src="/js/index.js")

